version: "3.9"

services:
  app:
    build: .
    container_name: laravel_moyatt_app
    volumes:
      - .:/var/www

  nginx:
    image: nginx:alpine
    container_name: laravel_moyatt_nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
